@model string[] 
@{
    ViewData["Title"] = "Bogus Page";
    //var date = (System.DateTime) ViewData["Date"]!; 
    var date = (System.DateTime) ViewBag.Date;
}
<h1>@ViewData["Title"]</h1>

<p>This is my first ASP.NET page authored by @ViewData["author"] on @date.ToShortDateString().</p>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>