<!-- C# island -->
@{
    ViewData["Title"] = "Home Page";
    string[]? days = ViewData["days"] as string[];
}

<div class="text-center">
    <h1 class="display-4" style="color: tomato">Welcome to COMP4870</h1>
    <h2> Name: Valerie Tan</h2>
    <h2> Student Number: A01288758</h2>
    <h2> Job: No idea, I'll take whatever job I can get in the beginning</h2>
</div>
